
.container1{
    background-color:white;
    border:2px solid black;
    padding:15px;
    width:70%;
    height:70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;

}
.caixa{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:100px;
    height:100px;
}

/*segunda parte */

.container2{
    background-color:white;
    border:2px solid black;
    padding:15px;
    width:70%;
    height:70%;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: flex-start;

}
.caixa2{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:100px;
    height:100px;
}

/*Terceira parte  */

.container3{
    background-color:white;
    border:2px solid black;
    padding:15px;
    width:70%;
    height:70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;

}
.caixa3{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:100px;
    height:100px;
}
/*Quarta parte  */

.container4{
    background-color:white;
    border:2px solid black;
    padding:15px;
    width:70%;
    height:70%;
    display: flex;
    justify-content:center;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    align-items:flex-start;

}
.caixa4{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:100px;
    height:100px;
}


/*Quinta parte */

.container5{
    background-color:white;
    border:2px solid black;
    padding:20px;
    width:70%;
    height:70%;
    display: flex;
    justify-content:space-around;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;

}
.caixa5{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:180px;
    height:100px;
}


/*sexta parte */

.container6{
    background-color:white;
    border:2px solid black;
    padding:15px;
    width:70%;
    height:70%;
    display: flex;
    justify-content:space-between;
    flex-direction:row-reverse;
    flex-wrap: wrap;
    align-content:flex-start;


}
.caixa6{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:160px;
    height:100px;
}

/*setima parte*/

.container7{
    background-color:white;
    border:2px solid black;
    padding:20px;
    width:100%;
    height:100%;
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-start;

}
.caixa7{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:200px;
    height:100px;
}
/*Oitava parte  */

.container8{
    background-color:white;
    border:2px solid black;
    padding:15px;
    width:70%;
    height:70%;
    display: flex;
    justify-content:center;
    flex-direction:row ;
    flex-wrap:nowrap;
    align-items:center;


}
.caixa8{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:100px;
    height:100px;
}
/* Nona parte  */

.container9{
    background-color:white;
    border:2px solid black;
    padding:15px;
    width:70%;
    height:70%;
    display: flex;
    justify-content:center;
    flex-direction:row ;
    flex-wrap:nowrap;
    align-items:center;


}
.caixa9{

    background-color:blue;
    border:2px solid black;
    padding:15px;
    width:100px;
    height:100px;
}
