

/*questão 3 */
/*Dispositivo movel celular até 769px*/

@media screen and (min-width: 240px) and (max-width:500px){
.verde_1{
    width: 100%;
    height: 100vh;
    background-color: green;
}
}
/*Para Descktop até */
/*desktop 601 px 1400px*/
   
 @media screen and (min-width:769px) and (max-width:1200px){
 .verde_1 {
     width: 100%;
     height: 50vh;
     background-color: green;
}
  .azul_1 {
    width: 100%;
    height: 50vh;
    background-color: blue;
}

}

/* para TV */

 @media screen and (min-width: 1201px){
    .verde_1{
        width: 100%;
        height: 20vh;
        background-color: green;
    }
    .azul_1{
        width: 100%;
        height: 20vh;
        background-color: blue;
    }
    .cinza{
        width: 100%;
        height: 20vh;
        background-color: gray;
    }
    .verde_2{
        width: 100%;
        height: 20vh;
        background-color: green;
    }
    .azul_2{
        width: 100%;
        height: 20vh;
        background-color: blue;
    }
 }